.dashboard-selector {
  display: grid;
  grid-gap: 20px;
  background: #f3f3f3;
  //background: rgba(240, 224, 0, 0.829);
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  margin: 30px;

  .dashboard-card {
    height: 225px;
    background: rgb(255, 255, 255);
    //background: #f3f3f3;
    border: 2px solid rgba(243, 240, 56, 0.829);
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &:hover {
      background: #f9f9f9;
      box-shadow: 2px 2px 2px #888;
    }

    .dash-title {
      border-bottom: 1px solid rgba(218, 186, 7, 0.829);
      display: flex;
      align-items: center;
      color: #444;
      padding: 15px;
      margin: 0;
    }

    .dash-description {
      color: rgb(44, 44, 44);
      text-align: left;
      padding: 15px;
      margin: 0;
    }
  }
}
